<%- include ('../partials/header.ejs') %>

<form class="columns main-form" action="/login" method="POST">
    <div class="form-row rounded bordered">
        <!-- <img src="img/" alt="" class=""> -->
        <input type="text" name="username" placeholder="Usuário" required>
    </div>

    <div class="form-row rounded bordered">
        <!-- <img src="img/" alt="" class=""> -->
        <input type="password" name="password" placeholder="Senha" required>
    </div>

    <div class="form-row">
        <input type="checkbox" name="remember">
        <label>Continuar logado</label>
        <a href="/recuperar" class="blue-text">Esqueceu a senha</a>
    </div>

    <div class="form-row">
        <input type="submit" value="ENTRAR" class="main-button rounded">
    </div>

    <div class="form-row">
        <span>Ainda não tem conta?</span>
        <a href="/register" class="blue-text">Cadastre-se</a>
    </div>
</form>

<%- include ('../partials/footer.ejs') %> 