@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --background-color: #222;
    --text-color: #EEE;
    --accente-color: #0BF;
}

* {
    margin: 0;
    padding: 0;

    color: var(--text-color);
    font-family: 'Poppins', sans-serif;

    border: 1px solid #000;
}

@media (orientation: landscape) {
    body { width: 75vh; }
}

body {
    height: 100vh;
    background-color: var(--background-color);
}

#main-title {
    padding: 5vh;
    font-size: 4em;
    text-align: center;
}

#title-span {
    color: var(--accente-color);
}


#footer {
    position: fixed;
    bottom: 0;
}